
.App {
  text-align: center;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  
  font-family: 'Merienda', cursive;
  background-image: url('https://media4.giphy.com/media/ITRemFlr5tS39AzQUL/giphy.gif?cid=ecf05e47d1ipf4yunfxuahske1ayo186rmyt9qs27n93pkrb&rid=giphy.gif&ct=g');
  background-size: cover;
  background-position: center;
}


.NavLink{
  border-style: outset;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  border-width: 5px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100%;
  height: 10%;
  background-color: rgba(58, 67, 165, 0.7);
}
.NavLink a{
  margin-right: 5%;
  text-decoration: none;
  font-family: 'Merienda', cursive;
  color: lightslategray;
}

.Home{
  height: 92vh;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 0;

}

#content{
  display: flex;
  visibility: hidden;
  opacity: 0.1;
  transition:  visibility 0s, opacity 5s;
  transition-delay: 2s;
  /* border-style: inset; */
  width: 100%;

  background-color: rgba(176, 191, 205, 0.6);
  border-top-style: ridge;
  border-top-width: 2px;
}
#content h4{
  font-size: large;
  border-style: inset;
  border-width: 5px;
  border-color: #ffffff33;
  background-color: rgba(98, 104, 155, 0.1);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  padding-right: 5%;
  padding-left: 5%;
  text-shadow: 1px 1px rgba(25, 28, 55, 0.9);
  /* width: fit-content; */

}
/* 
#content img{
  width: 200px;
  height: 00px;
} */
#resume{
  width: 50%;
  /* float: right; */

}
#resume h4{
  position: relative;
  width: fit-content;
  margin-top: 5%;
  left: 50%;

  transform: translate(-50%, -50%);
}
#about{
  width: 50%;
  margin-top: 10%;

}
#about h4{
  width: fit-content;
  margin-top: 5%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: rgba(91, 85, 85, 0.2);
}
#about p{
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px rgba(25, 28, 55, 0.7);
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

#frame{
  width: 99%;
  height: 50vh;
}
#frame img{
  width: 500px;
}

#footer{
  width: 100%;
  height: 27.5vh;

  margin: 0;
  margin-bottom: 0%;
  background-color: rgb(250, 250, 250);
  /* border-top-style: inset;
  border-top-width: 5px;
  border-top-color: rgb(112, 133, 153, 0.5); */
  /* height: 100px; */
}
#footer h4{
  margin: 0;
}
#footer img{
height: 15vh;
}

.blogs{
  display: flex;
  flex-wrap: wrap;
  
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  justify-content: center;

  /* border-style: dotted; */
}
.blogCard{
  width: 100%;


}
.blogCard img{
  width: 100px;
  height: 100px;
}
#individualcard{
  
  width: fit-content;
  margin-right: 0;
  display: inline-block;
  border-style: groove;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 5px;
}


.collapse{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  margin-bottom: 5%;
}




/* 
.App-logo {
  height: 100%;
  width: 100%;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
